<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HEAD -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ '/static/scripts/100-hbnb.js'+cache_id }}"></script>
    <title>Holberton AirBnB</title>
    
    <!-- FAVICON -->
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
    
    <!-- **********************
	 CSS styles
	 ********************** -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/4-common.css')+cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/3-header.css')+cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/3-footer.css')+cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/6-filters.css')+cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/8-places.css')+cache_id }}">
  </head>
  
  <!-- **********************
       BODY
       ********************** -->
  
  <body>
    
    <!-- **********************
	 HEADER
	 ********************** -->
    
    <header>
      <div id="api_status"></div>
    </header>
    <main>
      <div class="container">
	
	<!-- **********************
	     FILTERS
	     ********************** -->
	
	<section class="filters">
	  
	  <!-- **********************
	       LOCATIONS
	       ********************** -->
	  
	  <div class="locations">
	    <h3>States</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for state in states|dictsort %}
	      <LI>
		<input type="checkbox" data-id="{{ state[1].id }}" data-name="{{ state[0] }}"/><H2>{{ state[0] }}</H2></LI>
	      <UL>
		{% for city in state[1].cities|sort(attribute='name') %}
	      <LI>
		<input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}"/>{{ city.name }}</LI>
		{% endfor %}
	      </UL>
	      {% endfor %}
	    </ul>
	  </div>
	  
	  <!-- **********************
	       AMENITIES
	       ********************** -->
	  
	  <div class="amenities">
	    <h3>Amenities</h3>
	    <h4>&nbsp;</h4>
	    <ul class="popover">
	      {% for amenity in amens|sort(attribute='name') %}
	      <LI>
		<input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}"/>{{ amenity.name }}</LI>
	      {% endfor %}
	    </ul>
	  </div>
	  
		  <!-- **********************
		       SEARCH BUTTON
		       ********************** -->
		  
		  <button>Search</button>
	</section>
	
	<section class="places">
	</section>
      </div>
    </main>
    
    <!-- FOOTER -->
    
    <footer>
      Holberton School
    </footer>
  </body>
</html>
